<section class='ui raised segment'>
    <h5>Currently following:</h5>
    <div class='ui items'>
        <div class='ui card'>
            <div class='content'>
                <a href='/aggregateTimeline'>View All</a>
            </div>
        </div>
        {{#each user.follows }}
        <div class='ui card'>
            <div class='content'>
                <a href="/timeline/{{ _id }}">
                    <img class='ui avatar image' src="/images/profile/{{ profileImage }}"> {{ userName }}
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</section>