<nav class="ui top menu">
  <header class="header item"><a href="/home"> Tweets </a></header>
  <div class="right menu">
    <a id="globalTimeline" class="item" href="/timeline"> Global Timeline </a>
    <a id="usertimeline"   class= "item" href="/home"> Your Timeline</a>
    <a id="accountSettings" class="item" href="/accountSettings"> Account Settings </a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>