<section class="ui raised segment">
    <div class="ui items">
        <div class="item">
            <div class="content">
                <div class="header">
                    {{user.firstName}} {{user.lastName}}
                </div>
                <div class="meta">
                    <span>{{user.userName}}</span>
                </div>
                <div class="description">
                    <p>
                        {{user.description}}
                    </p>
                </div>
                <div class="extra">
                    {{> followButton }}
                </div>
            </div>
        </div>
    </div>
</section>