<section class='ui raised segment'>
    <form method='post' action='/tweet'>
        <div class='ui form'>
            <div class='field'>
                <label>Tweet to all ur frens:</label>
                <textarea rows='5' name='text'></textarea>
            </div>
            <div class='field'>
                <input class='ui submit button' type='submit' name='submit' value='tweet'>
            </div>
        </div>
    </form>
</section>