<section class='ui raised segment'>
    <form method='post' action='/tweet'>
        <div class='ui form'>
            <div class='field'>
                <label>Tweet to all your friends:</label>
                <textarea rows='3' name='text'>{{ text }}</textarea>
            </div>
            <div class='field'>
                <input class='ui submit button' type='submit' value='tweet'>
            </div>
        </div>
    </form>
    {{> formerror }}
</section>