<section class='ui raised segment'>
    <form method="post" action="/unfollow/{{user._id}}">
        <input class='ui submit button' type='submit' name='submit' value='Unfollow'>
    </form>
</section>