<section class='ui grid container'>
    <section class='sixteen wide column'>
        {{> mainmenu }}
    </section>
    <section class='four wide column'>        
        {{> profile }}
        {{> following }}
    </section>
    <section class='twelve wide column'>
        <div class="ui raised segment">
            <h1>Account Settings</h1>
            {{> accountSettingsForm }}
        </div>
    </section>
</section>