<section class='ui grid container'>
    <section class='sixteen wide column'>
        {{> welcomemenu }}
    </section>
    <section class="sixteen wide column">
      <section class="ui raised segment">
        <h1>Welcome to Tweets!</h1>
      </section>
    </section>
    <section class='eight wide column'>        
        {{> login }}
    </section>
    <section class='eight wide column'>
        {{> signup }}
    </section>
</section>