<section class='ui grid container'>
    <section class='sixteen wide column'>
        {{> welcomemenu }}
    </section>
    <section class='four wide column'>        
        {{> login }}
    </section>
    <section class="twelve wide column">
      <section class="ui raised segment">
        <h1>Welcome to Tweets!</h1>
      </section>
    </section>
</section>