<section class='ui grid container'>
    <section class='sixteen wide column'>
        {{> welcomemenu }}
    </section>
    <section class="sixteen wide column">
      <section class="ui raised segment">
        <h1>Account created successfully!</h1>
        To login click <a href="/">here</a>
      </section>
</section>