<section class='ui grid container'>
    <section class='sixteen wide column'>
        {{> mainmenu }}
    </section>
    <section class='four wide column'>        
        {{> profile }}
        {{#if following}}
        {{> unfollowButton }}
        {{else}}
        {{> followButton }}
        {{/if}}
    </section>
    <section class="twelve wide column">
        <div class="ui raised segment">
            <h1>Viewing Timeline of {{ user.firstName }} {{ user.lastName}}</h1>
            {{> tweetlist }}
        </div>
    </section>
</section>